xml_to_json_transformer/target/classes/xml_to_json_transformer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">

<!-- 
http://localhost:8081/xml
<data>
<id>9</id>
<name>Tabrej</name>
</data> -->

	<http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
	<flow name="xml_to_jsonFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/xml" allowedMethods="POST" doc:name="HTTP"/>
		<logger level="INFO" doc:name="Logger" message="#[payload]"/>
		<json:xml-to-json-transformer name="XmlToObject"  doc:name="XML to JSON" encoding="US-ASCII" mimeType="application/json"/>
		<json:object-to-json-transformer />
		<logger message="#[payload]" level="INFO" doc:name="Logger"/>
		<set-payload value="#[payload]" doc:name="Set Payload"/>
	</flow>
</mule>
